body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

header {
    background-color: pink;
    color: white;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    text-decoration: underline;
}g

main {
    padding: 30px;
    flex: 1;
}

section {
    margin-bottom: 30px;
}

.project {
    margin-bottom: 15px;
}

aside {
    background-color: grey;
    padding: 15px;
    margin: 20px 0;
}

.contact-buttons {
    display: flex;
    gap: 15px;
}

.button {
    background-color: grey; /* WhatsApp green */
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.button img {
    width: 20px;
    margin-right: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: pink;
    color: white;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: black;
    text-align: center;
    padding: 50px;
}

.container {
    background-color: blueviolet;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    margin: auto;
}

h1 {
    margin-bottom: 20px;
}

.download-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: pink;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.download-button:hover {
    background-color: yellowgreen;
}

